<form *ngIf="form" class="frame" [formGroup]="form">
    <h2 *ngIf="articles._id">Edit Article</h2>
    <h2 *ngIf="!articles._id">Add Article</h2>


<div>
    <label class="field">Article Title:</label>
    <input type="text" formControlName="articleTitle">
</div>


<div>
    <label class="field">Article Subtitle:</label>
    <input type="text" formControlName="articleSubTitle">
</div>


<div>
    <label class="field">Article Category:</label>
    <input type="text" formControlName="articleCategory">
</div>


<!-- <div>
    <label class="field">Author:</label>
    <input type="text" formControlName="author">
</div> -->


<div class="field">
        <label>Content:</label>
        <textarea formControlName="body" cols="30" rows="10" class="ta"></textarea>
    </div>

<div class="field">
        <button *ngIf="articles._id" (click)="update()" [disabled]="!form.valid" class="BTN">Save</button>
        <button *ngIf="!articles._id" (click)="add()"  class="BTN">Add</button>
    </div>
</form>