<h2>Articles Management</h2>
<br>
<button routerLink="/articles-body" class="newArticleButton">New Article</button>
<br>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Article Name</th>
            <th>Article Category</th>
            <th>Author</th>
            <th>Publish Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of articles; let i = index" (dblclick)="edit(a)" >
            <td>{{i + 1}}</td>
            <td>{{a.articleName}}</td>
            <td>{{a.articleCategory}}</td>
            <td>{{a.author}}</td>
            <td>{{a.publishDate | date : 'dd/MM/yy hh:mm'}}</td>
            <td>
            <button class="edit" (click)="edit(a)">Edit</button>
            <button class="remove" (click)="remove(a)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>


