
<div class="wraper">
<div>
    <span style="text-decoration: underline; font-weight:bold;">Article Title:</span> {{article.articleTitle}} <br> <br>
    <span style="text-decoration: underline;">Article SubTitle:</span> {{article.articleSubTitle}} <br> <br>
    <span style="text-decoration: underline;">Author:</span> {{article.author}} <br> <br>
    <span style="text-decoration: underline;">Publish Date:</span> {{article.createdAt}} <br> <br>
    {{article.body}} <br>
</div>
</div>

<h2 [routerLink]="['']">Click here to return to the Home Page</h2>

